<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Provider" value="Provider = Microsoft.Jet.OLEDB.4.0;Data Source ="/>
    <add key="DataSource" value="\Data\dqhp.mdb;"/>
    <add key="Pwd" value="Jet OLEDB:Database Password=dqhpdata"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
